.nav{
    background-color: $black;
    color: $white;
    display: flex;
    box-sizing: border-box;
    font-family: $poppins;
    font-size: $font-size-medium;
    justify-content: space-between;
    padding: 0 20px;


    &_logo img{
        text-align: center;
        height: 35px;
        width: 35px;
        padding-top: 10px;

        @include respond-to($bp-lg){
            height: 44px;
            width: 44px;
        }


    }

    &_bars{
        font-size: 30px;
        padding-top: 5px;

        @include respond-to($bp-lg){
            display: none; 
        }



    }

    &_ul{
        display: flex!important;
        display: none;
 
        @include respond-to($bp-lg){
            display: initial;
            font-weight: $font-bold;
        }


    }

    li{
        list-style: none; 
        padding: 0 10px;        

        // @include respond-to($bp-lg){
 
        // }

    }

}